<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">

<!-- http://localhost:8080/airports --- itt checkolni
az idea saját localhostjára csak a html-t küldi, a java frissítéseket nem-->

<head>
    <meta charset="UTF-8">
    <title>Intraday application</title>
</head>
<body>
    <h1> List of solars </h1>

    <ul>
        <li th:each="airport : ${airports}">
            <span th:text="${airport.id}">id</span>
            <span th:text="${airport.name}">name</span>
            <span th:text="${airport.iata}">iata</span>
        </li>
    </ul>

<form th:action="@{/airports}" method="post" th:object="${newAirport}">
    Id: <input th:field="*{id}" /> <br/>
    Name:<input th:field="*{name}" /> <br/>
    IATA:<input th:field="*{iata}" /> <br/>
    <input type="submit" value="Add" />
</form>

</body>
</html>